*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/

# Compiled javascript
cesiumwidget3/nbextension/
cesiumwidget3/labextension/

# OS X
.DS_Store

.idea/
.vscode/
*.lock
*package-lock.json
*.log
